# Taller de Programación con Python

## Introducción a Python

### GitHub repository: https://github.com/jorgemauricio/taller_python

### Instructor: Jorge Mauricio

Este notebook de jupyter te permite comprender los principios básicos de la sintáxis que utiliza `Python` 

**Por el momento el código no contiene ningún tipo de explicación**

### Temas que se incluyen
* Indentación
* Comentarios
* Tipos de datos
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Operadores comparativos
* if,elif, else
* for 
* while 
* range()
* list 
* Funciones
* lambda 
* map and filter
* métodos
* I/O

## Indentación

In [136]:
# Código C
int numeroMayor (int x, int y)
{
    if (x == y)
    {
        printf(“Los dos valores son iguales”);
    }else if (x > y)
    {
        printf(“El primer valor es mayor”);
    }else (x > y)
    {
        printf(“El primer valor es mayor”);
    }
}

SyntaxError: invalid syntax (<ipython-input-136-0c96dac6c34b>, line 2)

In [137]:
# Código Python
def numeroMayor(x,y):
    if x == y:
        print("Los dos valores son iguales")
    elif x > y:
        print("El primer valor es mayor")
    else:
        print("El segundo valor es mayor")

SyntaxError: invalid character in identifier (<ipython-input-137-8534033ab2c5>, line 4)

## Comentarios

In [138]:
# comantario en línea
x = 5 # asignar valor de 5 a x

In [ ]:
"""
Comentario Multilínea
"""

## Tipos de datos

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Asignar variables

In [8]:
# No pueden comenzar con número o un carácter especial
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

### Strings

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [14]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Print

In [15]:
x = 'hola'

In [16]:
x

'hola'

In [17]:
print(x)

hola

In [23]:
numero = 15
nombre = 'Jorge'

In [26]:
print('Mi número es: {one} y mi nombre es: {two}'.format(one=numero,two=nombre))

Mi número es: 15 y mi nombre es: Jorge

In [27]:
print('Mi número es: {} y mi nombre es: {}'.format(numero,nombre))

Mi número es: 15 y mi nombre es: Jorge

### Lists

In [28]:
[1,2,3]

[1, 2, 3]

In [29]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [30]:
my_list = ['a','b','c']

In [31]:
my_list.append('d')

In [32]:
my_list

['a', 'b', 'c', 'd']

In [33]:
my_list[0]

'a'

In [34]:
my_list[1]

'b'

In [35]:
my_list[1:]

['b', 'c', 'd']

In [36]:
my_list[:1]

['a']

In [37]:
my_list[0] = 'NEW'

In [38]:
my_list

['NEW', 'b', 'c', 'd']

In [39]:
nest = [1,2,3,[4,5,['target']]]

In [40]:
nest[3]

[4, 5, ['target']]

In [41]:
nest[3][2]

['target']

In [42]:
nest[3][2][0]

'target'

### Dictionaries

In [43]:
d = {'key1':'item1','key2':'item2'}

In [44]:
d

{'key1': 'item1', 'key2': 'item2'}

In [45]:
d['key1']

'item1'

### Booleans

In [46]:
True

True

In [47]:
False

False

### Tuples

In [48]:
t = (1,2,3)

In [49]:
t[0]

1

In [50]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [51]:
{1,2,3}

{1, 2, 3}

In [52]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [53]:
1 > 2

False

In [54]:
1 < 2

True

In [55]:
1 >= 1

True

In [56]:
1 <= 4

True

In [57]:
1 == 1

True

In [58]:
'hi' == 'bye'

False

## Operadores lógicos

In [59]:
(1 > 2) and (2 < 3)

False

In [60]:
(1 > 2) or (2 < 3)

True

In [61]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if, elif, else

In [62]:
if 1 < 2:
    print('Yep!')

Yep!

In [63]:
if 1 < 2:
    print('yep!')

yep!

In [64]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [65]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [66]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for

In [67]:
seq = [1,2,3,4,5]

In [68]:
for item in seq:
    print(item)

1
2
3
4
5

In [69]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [70]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while

In [71]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [72]:
range(5)

range(0, 5)

In [73]:
for i in range(5):
    print(i)

0
1
2
3
4

In [74]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [75]:
x = [1,2,3,4]

In [76]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [77]:
[item**2 for item in x]

[1, 4, 9, 16]

## Funciones

In [78]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [79]:
my_func

In [80]:
my_func()

default

In [81]:
my_func('new param')

new param

In [82]:
my_func(param1='new param')

new param

In [83]:
def square(x):
    return x**2

In [84]:
out = square(2)

In [85]:
print(out)

4

## lambda

In [86]:
def times2(var):
    return var*2

In [87]:
times2(2)

4

In [88]:
lambda var: var*2

## map and filter

In [89]:
seq = [1,2,3,4,5]

In [90]:
map(times2,seq)

In [91]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [92]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [93]:
filter(lambda item: item%2 == 0,seq)

In [94]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## Métodos

In [111]:
st = 'Hola mi nombre es Jorge Mauricio'

In [112]:
# convertir string a minúsculas
st.lower()

'hola mi nombre es jorge mauricio'

In [113]:
# convertir string a mayúsculas
st.upper()

'HOLA MI NOMBRE ES JORGE MAURICIO'

In [114]:
# separar string en una lista
st.split()

['Hola', 'mi', 'nombre', 'es', 'Jorge', 'Mauricio']

In [115]:
tweet = 'Go Sports! #Sports'

In [118]:
# separar el string
tweet.split('#')

['Go Sports! ', 'Sports']

In [119]:
# acceder a la palabra Sports
tweet.split('#')[1]

'Sports'

In [120]:
# diccionario
d

{'key1': 'item1', 'key2': 'item2'}

In [121]:
# desplegar las keys de un diccionario
d.keys()

dict_keys(['key1', 'key2'])

In [123]:
# desplegar las keys y valroes de un diccionario
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [128]:
lst = [1,2,3,4,5]

In [129]:
# eliminar el último valor de una lista
lst.pop()

5

In [130]:
lst

[1, 2, 3, 4]

In [131]:
# validar si un elemento se encuentra en una lista
'x' in [1,2,3]

False

In [132]:
'x' in ['x','y','z']

True

## I/O

In [3]:
# para solicitar alguna información al usuario se puede utilizar la función input, 
# la cual da la posibilidad de ingresar algún parámetro en la consola de comandos.
# NOTA: el parámetro es considerado como string
edad_usuario = input("Cuál es tu edad? ")
print("La edad del usuario es: {}".format(edad_usuario))

Cuál es tu edad? 32
La edad del usuario es: 32

In [5]:
nombre, edad = input("Nombre y edad (Separado por un espacio): ").split()
print("El usuario  {} tiene {} años".format(nombre, edad))

Nombre y edad (Separado por un espacio): jorge 32
El usuario  jorge tiene 32 años

In [39]:
# variable que contiene el texto
frase = "Hola alumnos de la UPA"

# debemos de declarar una variable que nos va a permitir la manipulación del archivo a editar
# el archivo tiene varios estados de manipulación, táles como:
# r : reading
# w : writing, truncating the file first
# a : write to the end of the file if it exists

text_file = open("data/pass.txt", "a")

In [40]:
# escribir archivos txt
text_file.write(frase)
text_file.close()